<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => t(:volume_pricing)} %>

<%= render :partial => 'shared/error_messages', :locals => {:target => @product.master} %>

<%= form_for 'product', @product.master, :url => object_url,
             :html => { :method => :put } do |f| %>
  <h3><%= t("volume_prices") %></h3>
  <style>
    #progressive_discount_info,
    #variants_use_master_discount_info {
      display: inline-block;
      margin-left: 20pt;
      font-size: 0.8em;
    }
  </style>
  <%= fields_for @product do |pf| %>
    <p>
      <%= pf.check_box :variants_use_master_discount %>
      <%= pf.label :variants_use_master_discount %>
      <span id="variants_use_master_discount_info">
        <%= t 'variants_use_master_discount_info' %>
      </span>
    </p>
  <% end %>
  <p>
    <%= f.check_box :progressive_volume_discount %>
    <%= f.label :progressive_volume_discount %>
    <span id="progressive_discount_info">
      <%= t 'progressive_discount_info' %>
    </span>
  </p>
  <table class="index">
    <thead>
      <tr>
        <th><%= t("starting_from") %></th>
        <th><%= t("price") %></th>
        <th><%= t("action") %></th>
      </tr>
    </thead>
    <tbody id="volume_prices">
      <%= f.fields_for :volume_prices do |vp_form| %>
        <%= render "volume_price_fields", :f => vp_form -%>
      <% end %>
    </tbody>
  </table>
  <%= link_to_add_fields icon('add') + ' ' + t("add_volume_price"), "tbody#volume_prices", f, :volume_prices %>
  <br/><br/>

  <%= render :partial => 'admin/shared/edit_resource_links' %>
<% end %>
